<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @comment.user_id, style: "font-color: #{@user.border || '#0066ff'};" %>
</p>

<p>
  <b>Song:</b>
  <%= @comment.song_id %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
