<h1>DJ's</h1>

<% @users.each_slice(4) do |users| %>
  <div class="row user-row">
    <% users.each do |user| %>
      <div class="span3 "> 
        <%= image_tag(user.image.thumb.url, style: "border: 5px solid #{user.border || '#0066ff'}; border-radius: 3px;")%>
        <h3><%= link_to user.name, user, style: "color:#{user.border || '#0066ff'};"%></h3>
        <p><%= user.location %></p>
div id ="like_form">
    <% if @status.has_like_already?(@status, current_user)%>
        <%= render 'already_liked'%>
    <%else%>
    <%= render 'like'%>
    <%end%>
</div>
      </div>
    <% end %>
  </div>
<% end %>

