<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>



<p>
  <b>Image:</b>
  <%= image_tag @user.image.main.url if @user.image %>
</p>

<p>
  <b>About:</b>
  <%= @user.about %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
