<p id="notice"><%= notice %></p>

<h1>
  <b>Name:</b>
  <%= @user.name %>
</h1>

<h2>
  <b>Location:</b>
  <%= @user.location %>
</h2>



<p>
  <%= image_tag @user.image.detail.url style: "border: 5px solid #{@user.border || '#0066ff'}; border-radius: 3px;" if @user.image %>
</p>

<p class="about">
  <b>About:</b>
  <%= @user.about %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
