<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Song:' %>
    <%= f.text_field :name, :autofocus => true %>
  </div>
  <div class="field">
    <%= f.label :description, 'Description:' %>
  <%= f.text_area :description, size: "15x5" %>
  </div>
  <div class="field">
    <%if can? :manage, @song_upload %>
    <%= f.label :user_id, 'DJ:' %>
    <%= f.select(:user_id, User.not_admin_users.collect {|p| [ p.name, p.id ] }, { include_blank: true }) %>
  <% end %>
  </div>
  <div >
  <%# Genre.order(:name).each do |genre| %><br>
    <%#= genre.name %>
    <%#= check_box_tag 'song[genres_id][]', genre.id, genre.in?(@song.genre.to_a) %>
    <%= f.collection_select :genre_id, @genres, :id, :name %>
  <%# end %>
</div>
  <div >
  <%= f.label :song_upload, 'Song Upload:' %>
  <%= f.file_field :song_upload%>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
