<h1>Listing songs</h1>

<div >

<% @songs.each do |song| %>
  <dl class="about">
    <dt><%= link_to song.name, song %> by <span style= "color:<%=song.user.border || '#0066ff' %> ; font-weight:bold" > <%= song.user.name %> </span></dt>
    <dd> <%= song.description %></dd>
div id ="like_form">
    <% if @status.has_like_already?(@status, current_user)%>
        <%= render 'already_liked'%>
    <%else%>
    <%= render 'like'%>
    <%end%>
</div>
  </dl>
  <br>
<% end %>
</div>

<%= link_to 'New Song', new_song_path %>
