<h1>Listing songs</h1>

<div >

<% @songs.each do |song| %>
  <dl class="about">
    <dt><%= link_to song.name, song %> by <span style= "color:<%=song.user.border || '#0066ff' %> ; font-weight:bold" > <%= song.user.name %> </span></dt>
    <dd> <%= song.description %></dd>
<% if like = current_user.likes.find_by_product_id(@product.id) %>
  <%= form_for like, :html => { :method => :delete },
                     :remote => true do |f| %>
    <%= f.submit "Unlike" %>
  <% end %>
<% else %>
  <%= form_for current_user.likes.build(:product_id => @product.id), :remote => true do |f| %>
    <%= f.hidden_field :product_id %>
    <%= f.hidden_field :user_id %>
    <%= f.submit "Like" %>
  <% end %>
<% end %>
  </dl>
  <br>
<% end %>
</div>

<%= link_to 'New Song', new_song_path %>
